.container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0;
    width:100vw;
}

.formWindow {
    width:15rem;
    max-height:40rem;
    border-radius:0.5rem;
    box-shadow: 4px 4px 10px #000000;
    padding:2rem;
    margin-top:4rem;
    margin-bottom:4rem;
}

#legend{
    font-size: 3rem;
    margin:0;
}
.inputBlock{
    
    margin-top:1rem;
    justify-content:center;
}

.inputLabel{
    display:block;
    line-height:1.5;
    font-size: 1.1rem;
}

.inputField {
    padding:0.4rem;
    width:100%;
    border-radius:.3rem;
}


.button{
    width:6rem;
    margin-top:1rem;
    padding: 0.5rem 0.75rem;
    border-radius:0.5rem;
    transition:0.2s ease-in-out;
    font-weight: bold;
}

.button:hover {
    transform: scale(1.05);  
    cursor:pointer;
}

.loginLink{
    margin-top:0.5rem;
    margin-bottom:0;
    transition:0.1s ease-in-out;
}

.loginLink:hover{
    cursor:pointer;
    transform: scale(1.05); 
}




@media (max-height:600px) {
    .formWindow{
        margin-bottom:0;
        padding-top:0;
        padding-bottom:0;
    }
    .loginLink{
        margin:0.5rem;
    }
}

@media (max-height:500px) {
    .formWindow{
        padding-top:0;
        padding-bottom:0;
        min-height:16rem;
        font-size:0.8rem;
    }
    .inputBlock{
        margin:0;
    }
    .loginLink{
        margin:0;
    }
    .legend, .button{
        margin:0.1rem;
    }
    
}

@media (max-height:385px) {
    .formWindow{
        margin-top:0.5rem;
    }
}

@media (max-height:225px) {
    .formWindow{
    }
}


@media (max-width:500px) {
    .formWindow{
        padding:0;
    }
    .inputField{
        width:90%;
    }
    
}


@media (max-width:256px) {
    .formWindow{
        width:100vw;
    }    
}


@media (max-width:150px) {
    .formWindow{
        border-left:none;
        border-right: none;
    }    
}