.nav{
    /* display:flex;
    justify-content: flex-end; */
    /* background:linear-gradient(to bottom,rgba(31, 94, 150,0.1),rgba(8, 185, 255,0.8)); */
    width:15vw;
    position:absolute;
    right:0;
    top:0;
}

.navLeft{
    display: flex;
    justify-content: space-around;
    width:15vw;
    position:absolute;
    /* left:0; */
    /* top:0; */
    margin-left: 1rem;
    cursor: pointer;
}


.navElement{
    padding:1rem;
    font-size:1rem;
    font-weight:bold;
    /* color:white; */
    text-decoration: underline;
    margin:0;
}

.navElement:hover{
    /* color:lightgray; */
    cursor:pointer;
}



.title{
    font-size:2rem;
    font-weight:bold;
    padding:0.8rem;
    margin:0;
    /* color:white; */
    text-shadow:2px 2px 4px black;
    width:60vw;
    
}

@media screen and (max-width:600px) {
    .navElement{
        font-size: 0.75rem;;
    }
    .homemail{
        margin-left: 1.5rem;;
    }
    
  
    .title{
        padding:0.8rem 0rem;
    }
    
  }

.headcontainer{
    width:100vw;
   display:flex;
   justify-content: center;
    
}

.navroot{
    position:fixed;
    top:0;
    /* background:linear-gradient(to bottom,rgba(0, 4, 255, 0.8),rgba(8, 185, 255,0.8)); */
    width:100vw;
    z-index: 1;
}
@media screen and (max-width:800px) {
    .navElement{
        padding:1rem 1rem 0rem 0rem;
    }
    
  
    .headcontainer{
      /* min-width: 100vw; */
      
    }
    .title{
        font-size: 1.5rem;
    }
    .homemail{
        width:1.7rem;
    }
  }

@media screen and (max-width:450px) {
    .headcontainer{
      /* min-width: 100vw; */
      height:3rem;
      
    }
    .title{
        font-size: 1rem;
    }
    .navElement{
        font-size: 0.5rem;
    }
    .homemail{
        width:1.4rem;
        
    }
    .navhomemail{
        margin:0.6rem;
    }
    
    
  }

  @media screen and (max-width:350px) {
   
    .navElement{
        font-size: 0.35rem;
        margin-top:0.5rem;
    }
    .title{
        /* font-size: 0.8rem; */
        width:30vw;
    }
    .headcontainer{
        /* min-width: 100vw; */
        height:4rem;
        
      }
      .navhomemail{
        margin:1.4rem 1rem;
    }
    
  }

  @media screen and (max-width:280px) {
   
    
    
    .title{
        font-size: 0.8rem;
        /* width:30vw; */
        margin-left:20vw;
    }
  }
  