ul {
    list-style-type: none;
    margin:0;
    padding:0.5rem 0.3rem;
}

li{
    cursor:pointer;
}

.friendtitlebox{
    
    font-size:1.5rem;
}

.friendtitle{
    margin:0;
    background: rgb(4, 113, 255);
    padding:0.5rem 0;
    font-size:1.5rem;
    /* border:1px solid gray; */
    color:white;
    
    /* border-top-left-radius: 0.35rem;
    
    border-top-right-radius: 0.35rem; */
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}

.fixed{
    /* position:fixed; */
}

.mainfriend{
    /* position: fixed; */
    /* left:0; */
    height:74vh;
    background:white;
    border:1px solid gray;
    
    /* border-bottom-left-radius: 0.5rem; */
    /* border-bottom-right-radius: 0.5rem; */
    /* padding:0.3rem */
}

.scroll{
    height:60vh;
    overflow-y: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}
.scroll::-webkit-scrollbar{
    display:none;
}


.addFriend{
    background: rgb(4, 113, 255);
    color:white;
    font-weight: bold;
    border-radius: 0.5rem;
}

.friendList{
    /* position:fixed; */
    display:flex;
    align-items: center;
    height:74vh;
    border:1px solid gray;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    z-index: 1;
    margin-left: 10rem;
    
}

ul{
    
    height:100%
}

.hideFriend{
    
    height:100%;
    background: rgb(4, 113, 255);
    color:white;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.showFriend{
    /* position:fixed; */
    /* margin-top: 0; */
    border:none;
    /* outline:none; */
    height:3rem;
    margin:0.5rem 1rem;
    background: transparent;
    color:white;
    border-radius: 0.5rem;
}

.radioButton input[type="radio"]{
    display:none;
}

.radioButton label{
    display:inline-block;
    cursor: pointer;
}

input[type="radio"]:checked+label{
    background: rgb(162, 202, 255);
}


@media screen and (max-height:650px) {
    .scroll{
        height:55vh;
    }
}

@media screen and (max-height:450px) {
    .scroll{
        height:50vh;
    }
    
}

@media screen and (max-height:350px) {
    .scroll{
        height:40vh;
    }
}

@media screen and (max-width:900px) {
    
    /* .friendList{
        margin-left:10rem;
    } */

    
}

@media screen and (max-width:450px) {
    .showFriend{
        margin:0;
        
    }
    .friendimg{
        width:2rem;
    }
    .friendList{
        margin-left:50vw;
    }

    
}


@media screen and (max-width:350px) {
    .showFriend{
        margin-top:0.6rem;
        
    }
    .friendimg{
        width:2rem;
    }

    
}
