.mailbox{
    margin-top: 2.5rem;
    padding:1rem;
    /* background:linear-gradient(to bottom ,rgba(31, 94, 150,0.1),rgba(8, 185, 255,0.8)); */
    /* background-image: url('../../images/mailhome.png'); */
    /* background-repeat: no-repeat; */
    /* background-size: 80%; */
    /* background-position: center; */
    /* border:2px solid black; */
    border-radius: 1rem;
    height: 80vh;
    width: 80vw;
    
    /* display:block; */
    /* margin-right:20vw;
    margin-left:auto; */
    /* margin:auto; */
}

.messages{
    height:75vh;
    overflow-y: scroll;
    /* display:flex; */
}

.sender{
    margin-left:5rem;
}

.recipient{
    margin-right:5rem;
}

.textarea{
    height:1rem;
}

.buttons {
    /* background:#00a2ff; */
    border-radius: 0.5rem;
    /* color:white; */
    font-weight: bold;
    margin:1rem 0.5rem;
}

.partner{
    /* color:white; */
    text-shadow: 0.1rem 0.1rem 0.5rem black;
}

@media (max-height:700px) {
    .mailbox{
        height:70vh;
    }

    .messages{
        height:50vh;
    }
    
}

@media (max-height:500px) {
    .mailbox{
        height:60vh;
    }
    .messages{
        height:35vh;
    }
    
}

@media (max-height:400px) {
    .mailbox{
        height:50vh;
    }
    .messages{
        height:20vh;
    }
    
}

@media (max-width:200px) {
    
    .recipient{
        margin:0;
    }
    .sender{
        margin:0;
    }
    
}

@media (min-width:800px) {
    
    .recipient{
        margin-right:10rem;
        
    }
    .sender{
        margin-left:10rem;
    }
    
}