.mailbox{
    margin-top: 0.1rem;
    padding:1rem;
    border-radius: 0.2rem;
    height: 80vh;
    width: 80vw;
    max-width:35rem;
}

.mailtextarea{
    height:2rem;
    border-radius: 0.5rem;
    margin:0rem 0.5rem;
    width:20rem;
    padding-left: 0.5rem;
    resize: none;
    z-index: 1;
    position: absolute;
    left:50%;
    transform: translate(-50%,-155%);
    border:1px solid black;
    box-shadow:1px 1px 10px black;
}

.mailtextarea:focus{
    outline:none;
}

.textareahide{
    display:none;
}

.mailButtons{
    position:fixed;
    left:50%;
    transform: translate(-50%,-45%);
}

.buttons {
    padding:0.3rem 0.2rem;
    border:2px solid black;
    border-radius: 0.5rem;
    font-weight: bold;
    margin:0rem 0.5rem;
}

.privateMessage{
    display:flex;
    margin-left:0.5rem;
    margin-bottom:0.5rem;
    margin-top:0.8rem;
    padding-top:1rem;
}

.backButton{
    border-radius:0.5rem ;
    width:2.5rem;
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
    padding:0 0.2rem;
    margin:0.5rem;
}

.contactName{
    margin-left:1rem;
}

.messages{
    margin-top:1rem;
    height:70vh;
    overflow-y: scroll;
}
.messages::-webkit-scrollbar{
    display:none;
}

.sender{
    margin-left:15rem;
}

.recipient{
    margin-right:15rem;
}

.nocontactContainer{
    height:60vh;
}

.contactScroll{
    /* margin:0 auto; */
    /* width:15rem; */
    height:60vh;
    overflow-y: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}

.contactScroll::-webkit-scrollbar{
    display:none;
}

.unreadMessageContainer{
    display:flex;
    justify-content: center;
    margin:0.8rem 0;

}

.unreadMessage{
    margin-left:-1.1rem;
    border-radius:5rem;
    padding:0.2rem 0.5rem;
    font-size:0.6rem;
    transform:translate(0.5rem,0.5rem);
    
}

@media (max-height:900px) {
    .messages{
        height:65vh;
    }
    
}
@media (max-height:700px) {
    .mailbox{
        height:76vh;
    }

    .messages{
        height:58vh;
    }
    
}

@media (max-height:500px) {
    .mailbox{
        height:75vh;
    }
    .messages{
        height:55vh;
    }
    .backButton{
        font-size: 0.8rem;
        margin:0;
        padding:0.3rem 0;
    }
    .contactName{
        margin:0.1rem 0.5rem;
    }
}

@media (max-height:400px) {
    .mailbox{
        height:70vh;
        overflow-y: scroll;
    }
    .mailbox::-webkit-scrollbar{
        display:none;
    }
    .messages{
        height:100vh;
    }
    
}

@media (max-height:280px) {
    .mailbox{
        height:60vh;
    }
    
}

@media (max-height:200px) {
    .mailbox{
        height:50vh;
    }
    
}



@media (max-width:700px) {
    .mailtextarea{
        width: 50vw;
    }    
    .recipient{
        margin-right:8rem;
        
    }
    .sender{
        margin-left:8rem;
    }
    
}
@media (max-width:625px){
    .privateMessage{
        margin-top:1rem;
    }
}
@media (max-width:500px) {
    .mailtextarea{
        width:70vw;
    }
    .mailButtons{
        margin-top:0.8rem;
    }
    .privateMessage{
        padding-top:2rem;
    }
}

@media (max-width:370px) {
    
    .recipient{
        margin-right:4rem;
        
    }
    .sender{
        margin-left:4rem;
    }
    
}

@media (max-width:300px) {
    
    .recipient{
        margin-right:2rem;
        
    }
    .sender{
        margin-left:2rem;
    }
    
}

@media (max-width:270px) {
    
    .sender, .recipient{
        margin:0;
    }
    .privateMessage{
        font-size:0.8rem;
        font-weight: normal;
        margin-left:0.1rem;
    }
    .mailbox{
        padding:1rem 0;
        width:100vw;
        border-left:none;
        border-right:none;
    }
    .mailtextarea{
        transform: translate(-50%,-140%);
    }
    
}
@media (max-width:200px) {
    
    .recipient{
        margin:0;
    }
    .sender{
        margin:0;
    }
    .radioButton>li>label{
        font-size: 0.8rem;
    }
    .contactName{
        font-size:0.8rem;
    }
    
}