.mailbox{
    padding:1rem;
    /* display:block; */
    /* margin-right:20vw;
    margin-left:auto; */
    /* margin:auto; */
}

.messages{
    /* display:flex; */
}

.sender{
    margin-left:5rem;
}

.recipient{
    margin-left:-5rem;
}
