.App {
  text-align: center;
  
}

.main{
  display:flex;
  min-height: 40vh;
  height:100%;
  background-attachment: scroll;
  margin-top: 0.5rem;
  margin-left: 0.25rem;;
}

.mainMessage{
  /* top:unset; */
  margin:3rem auto -3rem auto;
}