.App {
  text-align: center;
  
}
.App::-webkit-scrollbar{
  display:none;
}
.main{
  display:flex;
  min-height: 40vh;
  height:100%;
  background-attachment: scroll;
  margin-top: 0.1rem;
  margin-left: 0.25rem;;
}

.mainMessage{
  /* top:unset; */
  /* margin:3rem auto -3rem auto; */
  margin:0rem auto;
}

@media (max-width:450px) {
  .mainMessage{
    /* margin-top:2.5rem; */
  }
  
}

@media (max-width:350px) {
  .mainMessage{
    /* margin-top:3.5rem; */
  }
  
}

@media (max-width:270px){
  .main{
    margin-left:0;
  }
}

  
@media (max-height:220px) {
  .mainMessage{
      /* margin-top:0.5rem; */
  }
  
}