:root{
    --backColor:linear-gradient(to bottom,#247BA0,#247BA0);
    /* linear-gradient(to right,rgba(199, 198, 198, 0.8),rgba(94, 51, 175, 0.918)); */
    --buttonColor:#FB3640;
    --fadedColor: #E8DAB2;
    --gradient:linear-gradient(to bottom,#E2E2E2,#247BA0);
    --firstColor:#E2E2E2;
    --secondColor:#0A2463;
    --thirdColor:#247BA0;
    --fourthColor:#2da2d4;
    --fifthColor:#605F5E;
}
html{
    /* overflow-y:scroll; */
    background:var(--firstColor);
    /* background:#EDF6F9; */
    /* background-image: url('./images/backgroundtext2.png');
      background-size: 30%;  */
}


.navroot{
    background:var(--backColor);
    
}


.commentsection{
    background:var(--gradient);
    border:4px solid var(--secondColor);
    
}


.messageArea{
    background:#f6fcfd;
    /* border:5px solid #EDF6F9; */
}


.user{
    background:var(--thirdColor);
    color:white;
    border-radius: 0;
}

.likeButton{
    border:1px solid var(--buttonColor);
}

.senderbackground{
    margin:0;
}

.user.senderbackground{
    background:var(--fourthColor);
}

.mailbox{
    background:var(--gradient);
    border:4px solid var(--secondColor);
}


.formWindow {
    background:var(--gradient);
    
}

.inputField {
    border:0.1rem solid rgb(0, 0, 0);
}

.likes{
    background:var(--secondColor);
}
.liketext{
    color:white;
}
.friendtitle{
    background: var(--fifthColor);
    color:white;
}

.mainfriend{
    background:white;
    border:1px solid gray;
}

.addFriend{
    background: var(--buttonColor);
    color:white;
}

.friendList{
    border:1px solid gray;
    
}

.hideFriend{
    background: var(--buttonColor);
    color:white;
}

.showFriend{
    background: transparent;
    color:white;
}

input[type="radio"]:checked+label{
    background: var(--fadedColor);
}




.buttons {
    background:var(--buttonColor);
    color:white;
    
}

.friendButton{
    background: var(--buttonColor);
    color:white;
}

.publicButtons{
    background:var(--thirdColor);
    color:rgb(211, 211, 211);
    border:2px solid var(--secondColor);
    /* border-bottom:2px solid var(--fadedColor); */
    
}


.disabledButtons{
    background:var(--secondColor);
    color:white;
}


.submitbutton{
    background:var(--buttonColor);
    color:white;
}

.msg{
    background:var(--buttonColor);
    color:white;
}


.button{
    background:transparent;
    border:0.1rem solid black;
}

.button:hover { 
    border:0.1rem solid var(--buttonColor);
    color:var(--buttonColor);
}


.navElement{
    color:white;
    text-decoration: underline;
    
}

.navElement:hover{
    color:lightgray;
}



.title{
    color:white;
    text-shadow:2px 2px 4px black;
    
    
}

.deleteButton{
    color:rgb(23, 41, 31);
}

.deleteBackground{
    background: #c3cacc;
    margin:.1rem;
    padding:0rem 0.4rem;
    border-radius: 0.4rem;
    border:1px solid black;
}


.partner{
    color:white;
    
}


.registerError{
    color:rgb(255, 53, 53);
}
