:root{
    --backColor:linear-gradient(to top,var(--fifthColor),var(--fourthColor));
    --buttonColor:#fb3640d2;
    /* --fadedColor: #E8DAB2; */
    /* --gradient:linear-gradient(to bottom,#E2E2E2,#247BA0); */
    /* --firstColor:#E2E2E2; */
    --secondColor:#235392;    
    --secondColorOpacity:#0f408179;
    --thirdColor:#1280af;
    --fourthColor:#2da2d4;
    --fifthColor:#1841c5;
    --sixthColor:rgb(174, 184, 197);
    /* --sixthColor:rgb(171, 182, 197); */
}
html{
    background:#cfcfcf;
}


.navroot{
    background:rgb(174, 184, 197);
    /* background:var(--thirdColor); */
    
}

.commentsection,.mailbox,.mainFriend,.formWindow{
    background:var(--sixthColor);
    border:4px solid rgb(212, 226, 245);
    
}


.hideButton, .wideButton{
    /* background: var(--secondColor); */
    background:rgb(90, 95, 102)
    color:white;
}

.messageArea{
    background:#EDF6F9;
}


.user{
    background:var(--thirdColor);
    color:white;
    border-radius: 0;
}

.likeButton{
    border:1px solid var(--secondColor);
}

.senderbackground{
    margin:0;
}

.user.senderbackground{
    background:var(--fourthColor);
}


.inputField {
    border:0.1rem solid rgb(0, 0, 0);
}

.likes{
    background:var(--secondColor);
    border-top:1px solid var(--secondColor);
}
.liketext{
    color:white;
}

.requesttitle{
background:var(--secondColorOpacity);
color:white;

}

.pendingtitle{
    background: var(--secondColorOpacity);
    color:white;
}


.addFriend{
    background: var(--buttonColor);
    color:white;
}


.buttons {
    background:var(--buttonColor);
    color:white;
    
}

.friendButton{
    background: var(--buttonColor);
    color:white;
}

.navButtons{
    background:var(--thirdColor);
    color:rgba(255, 255, 255, 0.774);
}

.msg{
    background:var(--buttonColor);
    color:white;
}

.button{
    background:var(--fourthColor);
    border:0.1rem solid black;
    color:rgb(230, 230, 230);
}

.button:hover { 
    border:0.1rem solid var(--fourthColor);
    color:white;
}

.deleteButton{
    color:rgb(23, 41, 31);
}

.backButton{
    background: var(--secondColor);
    border:none;
}


.requests,.message,.unreadMessage{
    background: var(--buttonColor);
}

.error{
    color:rgb(71, 12, 12);
    font-weight:bold;
}


.homehome,.friendfriend,.mailmail,.friendsfriends{
    background:var(--secondColorOpacity);
    color:white;
}


.navButtons:hover{
    color:white;
}

.radioButton>li>label{
    background:var(--secondColorOpacity);
    color:rgb(223, 223, 223);    
    box-shadow:0.2rem 0.2rem 0.6rem rgb(92, 92, 92);
    border-radius:0.2rem;
    padding:0 0.3rem;
}
.radioButton>li>label:hover{
    color:white;
}
.contactName{
    background:var(--secondColorOpacity);    
    box-shadow:0.2rem 0.2rem 0.6rem rgb(135, 142, 155);
    border-radius:0.2rem;
    padding:0 0.3rem;
}

@media (max-width:500px) {
    .navButtonContainer{
        border:1px solid var(--fourthColor);
    }
    .navButtons{
        border-bottom:1px solid var(--fourthColor);
    }
    .mainNav{
        background: var(--thirdColor);
    }
    
}

