:root{
    --backColor:linear-gradient(to bottom,#006D77,#83C5BE);
    /* linear-gradient(to right,rgba(199, 198, 198, 0.8),rgba(94, 51, 175, 0.918)); */
    --buttonColor:#fd5c21d0;
    --fadedColor: #E29578;
}
html{
    /* overflow-y:scroll; */
    
    background:#EDF6F9;
    /* background-image: url('./images/mainbackground.png');
      background-size: 20%; */
}


.navroot{
    background:var(--backColor);
    
}


.commentsection{
    background:var(--backColor);
    border:4px solid black;
    
}


.messageArea{
    background:#EDF6F9;
    /* border:5px solid #EDF6F9; */
}


.user{
    background:#83C5BE;
    color:white;
}

.likeButton{
    border:1px solid var(--buttonColor);
}

.senderbackground{
    margin:0;
}

.user.senderbackground{
    background:#83C5BE;
}

.mailbox{
    background:var(--backColor);
    border:2px solid black;
}


.formWindow {
    background:var(--backColor);
    
}

.inputField {
    border:0.1rem solid rgb(0, 0, 0);
}


.friendtitle{
    background: var(--buttonColor);
    color:white;
}

.mainfriend{
    background:white;
    border:1px solid gray;
}

.addFriend{
    background: var(--buttonColor);
    color:white;
}

.friendList{
    border:1px solid gray;
    
}

.hideFriend{
    background: var(--buttonColor);
    color:white;
}

.showFriend{
    background: transparent;
    color:white;
}

input[type="radio"]:checked+label{
    background: var(--fadedColor);
}




.buttons {
    background:var(--buttonColor);
    color:white;
    
}


.publicButtons{
    background:#00383d;
    color:rgb(211, 211, 211);
    border:2px solid #00383d;
    /* border-bottom:2px solid var(--fadedColor); */
    
}


.disabledButtons{
    background:#006D77;
    color:white;
}


.submitbutton{
    background:var(--buttonColor);
    color:white;
}

.msg{
    background:var(--buttonColor);
    color:white;
}


.button{
    background:transparent;
    border:0.1rem solid #006D77;
}

.button:hover { 
    border:0.1rem solid var(--buttonColor);
    color:var(--buttonColor);
}


.navElement{
    color:white;
    text-decoration: underline;
    
}

.navElement:hover{
    color:lightgray;
}



.title{
    color:white;
    text-shadow:2px 2px 4px black;
    
    
}

.deleteButton{
    color:darkred;
}



.partner{
    color:white;
    
}


.registerError{
    color:rgb(255, 53, 53);
}
